<?php
return [
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'localhost',
                'dbname' => '{{DB_NAME}}',
                'username' => '{{DB_USER}}',
                'password' => '{{DB_PASSWORD}}',
                'model' => 'mysql4',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_ps' => (string)$_ENV['MYSQL_DRIVER_PS'] ?? 'mysqli',
            ]
        ]
    ],
    'install' => [
        'date' => 'Fri, 25 May 2026 17:37:00 +0000',
    ],
    'backend' => [
        'frontName' => 'admin'
    ],
    'crypt' => [
        'key' => '{{CRYPT_KEY}}'
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'session' => [
        'save' => 'files'
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '{{CACHE_PREFIX}}'
            ],
            'page_cache' => [
                'id_prefix' => '{{CACHE_PREFIX}}'
            ]
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => ''
        ]
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'downloadable_domains' => [
        '{{BASE_URL}}'
    ],
    'env' => '{{MAGE_ENV}}'
];
